name: Build Windows

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Set up CMake
      uses: jwlawrence/actions-setup-cmake@v2

    - name: Build VT-2A
      shell: cmd
      run: build.bat Release

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: EA-VT-2A-Windows-Build
        path: |
          build/Source/EA VT-2A_artefacts/Release/VST3/*.vst3
          build/Source/EA VT-2A_artefacts/Release/Shared Code/*.dll
        if-no-files-found: warn
